@font-face {
    font-family: "Minecraft-Seven-V2";
    src: url("/Minecraft-Seven_v2.woff2") format("woff2");
}

@font-face {
    font-family: "Unifont";
    src: url("/unifont.otf");
}

.mcfont {
    font-family: "Minecraft-Seven-V2", "Unifont";
}

.unifont {
    font-family: "Unifont";
}
